@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
@keyframes heartFull {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading-text {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading-cercle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-fade {
  0% {
    opacity: 100%;
  }
  70% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    display: none;
    z-index: -1;
  }
}
@keyframes kf-menu-animation {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  color: black;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  width: 100%;
}
body .loader {
  position: fixed;
  z-index: 1337;
  opacity: 100%;
  background-color: #EAEAEA;
  width: 100%;
  height: 100%;
  padding-top: 200px;
  animation: 2.25s linear loading-fade forwards;
}
body .loader__animations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
body .loader__animations--ohmyfood {
  color: #9356DC;
  font-family: "Shrikhand", sans-serif;
  font-size: 50px;
  transform: scale(1);
  animation: 1.75s ease-in-out 1 loading-text;
}
body .loader__animations--cercle {
  border: 7.5px solid #fff;
  border-right: 7.5px solid #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: 1.25s linear loading-cercle infinite;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 65px;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  flex: 1;
}
header .logo #OhMyFood {
  width: 100%;
  padding: 10px;
  max-height: 30px;
  object-fit: contain;
}
header .fleche-retour {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 65px;
}
header .fleche-retour i {
  color: #353535;
}

footer {
  z-index: 2;
  height: 200px;
  color: white;
  background-color: #353535;
}

.footer {
  margin: 25px;
}
.footer .ohmyfood {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
}
.footer__infos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__infos--link {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 15px;
}
.footer__infos--link i {
  width: 15px;
  font-size: 15px;
}

.image-restaurant {
  height: 265px;
  background-color: #F7F7F7;
}
.image-restaurant .imageBackground {
  height: 265px;
}
.image-restaurant .imageBackground img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 265px;
}
.image-restaurant .titre {
  position: relative;
  bottom: 50px;
  width: 100%;
  padding-top: 30px;
  border-radius: 50px 50px 0 0;
  background-color: #F7F7F7;
  z-index: 2;
}
.image-restaurant .titre h2 {
  font-size: 27px;
  height: 30px;
  margin-left: 20px;
  font-family: "Shrikhand", sans-serif;
}
.image-restaurant .titre .heart {
  display: flex;
  align-items: center;
  position: relative;
  right: 25px;
  bottom: 15px;
}
.image-restaurant .titre .heart:hover {
  cursor: pointer;
}
.image-restaurant .titre .heart i {
  font-size: 25px;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
}
.image-restaurant .titre .heart .fa-regular {
  opacity: 1;
  color: black;
}
.image-restaurant .titre .heart .fa-regular:hover {
  opacity: 0;
}
.image-restaurant .titre .heart .fa-regular:hover + .fa-solid {
  opacity: 1;
  animation: heartFull 0.5s linear forwards;
}
.image-restaurant .titre .heart .fa-solid {
  opacity: 0;
  z-index: -1;
  background: linear-gradient(25deg, #FF79DA 0%, #9356DC 100%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  transform-origin: 50% bottom;
  transform: scale(1);
  animation: transform 0.4s cubic-bezier(0.43, 0.21, 1, 0.45);
}
@media screen and (min-width: 768px) {
  .image-restaurant .titre {
    width: 85%;
    margin: 0 auto;
  }
}

main {
  background-color: #F7F7F7;
}

.menu-restaurant {
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
}
@media screen and (min-width: 768px) {
  .menu-restaurant {
    width: 85%;
    margin: 0 auto;
  }
}
.menu-restaurant .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (min-width: 1182px) {
  .menu-restaurant .menu {
    flex-direction: row;
  }
}

.categorieRepas:nth-child(1) {
  animation-delay: 0s;
}

.categorieRepas:nth-child(2) {
  animation-delay: 0.2s;
}

.categorieRepas:nth-child(3) {
  animation-delay: 0.4s;
}

.categorieRepas {
  margin: 0 15px 0 15px;
  animation: kf-menu-animation 1.25s ease-out;
}
.categorieRepas .titreCategorie h3 {
  margin-top: 30px;
  font-weight: normal;
  font-size: 17px;
  width: 40px;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
}
.categorieRepas .choixRepas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  width: auto;
  border-radius: 15px;
  background-color: white;
  margin: 15px 0;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.075));
  overflow: hidden;
}
@media screen and (min-width: 1182px) {
  .categorieRepas .choixRepas {
    width: 300px;
  }
}
.categorieRepas .choixRepas .platRepas {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: auto;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.categorieRepas .choixRepas .platRepas h4,
.categorieRepas .choixRepas .platRepas p {
  margin-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.categorieRepas .choixRepas .prixRepas {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
}
.categorieRepas .choixRepas .prixRepas p {
  padding: 0px 10px 10px 0px;
}
.categorieRepas .choixRepas .boutonChoisir {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  margin-right: -70px;
  transition-duration: 0.6s;
}
.categorieRepas .choixRepas .boutonChoisir i {
  color: white;
}
.categorieRepas .choixRepas:hover > .boutonChoisir {
  margin-right: 0px;
}
.categorieRepas .choixRepas:hover .fa-circle-check {
  transition: all 0.6s 0.2s;
  transform: rotate(360deg);
}

.passer-commande {
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.passer-commande .boutonCommander {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0 40px 0;
  height: 50px;
  width: 185px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border-radius: 40px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}
.passer-commande .boutonCommander:hover {
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.5));
}

/*# sourceMappingURL=restaurant.css.map */
