header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 65px;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
        flex: 1;
        
        #OhMyFood {
            width: 100%;
            padding: 10px;
            max-height: 30px;
            object-fit: contain;
        }
    }

    .fleche-retour {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65px;
        width: 65px;

        i {
            color: $couleur-gris-3;
        }
    }
}