.image-restaurant {
    .imageBackground {
        height: 250px;
        img {
            
        }
    }
    .titre {
        padding-top: 50px;
        background-color: $couleur-gris-1;

        h2 {
            font-family: "Shrikhand", sans-serif;
        }

        .heart {
            @include heart-favoris;
        }
    }
}