.menu-restaurant {

    
}

.categoriesRepas {
    background-color: $couleur-gris-1;







    .choixRepas {
        width: 100%;
        border-radius: 25px;
        background-color: white;
        display: flex;
        flex-direction: row;

        .platRepas {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .prixRepas {
            display: flex;
            align-items:flex-end;
            margin-bottom: 15px;
        }


        .boutonChoisir {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 70px;
            background-color: red;
            
    
        }
    }

}

