@mixin heart-favoris {
    display: flex;
    align-items: center;
    position: relative;
    
    /*TENTATIVE ANIMATION FILL*/
    width: 40px;
    height: 40px;
    background: red;

    &:hover {
        cursor: pointer;
    }

    i {
        font-size: 25px;
        width: 25px;
        height: 25px;
        position: absolute;
        right: 20px;
    }
    .fa-solid {
        opacity: 0;
    }


    /*.fa-regular {
        opacity: 1;
        color: black;
        
        &:hover {
            opacity: 0;
        }
    }

    .fa-solid {
        opacity: 0;

        &:hover {
            opacity: 1;
            background: linear-gradient(25deg, #FF79DA 0%, #9356DC 100%);
            background-clip: content-box;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            color: transparent;
            z-index: 1;
            transform-origin: 50% bottom;
            transform: scale(1);
            animation: transform 0.4s cubic-bezier(0.43, 0.21, 1, 0.45);
        }
    }*/
}

@mixin loading-page {
    .loader {
        position: fixed;
        z-index: 1337;
        opacity: 100%;
        background-color: $couleur-gris-1;
        width: 100%;
        height: 100%;
        padding-top: 200px;
        animation: 2.25s linear loading-fade forwards;
        
        &__animations {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            &--ohmyfood {
                color: $couleur-primaire;
                font-family: 'Shrikhand', sans-serif;
                font-size: 50px;
                transform: scale(1);
                animation: 1.75s ease-in-out 1 loading-text;
            }

            &--cercle {
                border: 7.5px solid cyan;
                border-right: 7.5px solid $couleur-primaire;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                animation: 1.25s linear loading-cercle infinite;
            }
        }
    }
}
@keyframes loading-text {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes loading-cercle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes loading-fade {
    0% {
        opacity: 100%;
    }

    70% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        display: none;
        z-index: -1;
    }
}

@mixin bouton-hover {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
    transition: filter linear 300ms;
    
    &:hover {
        filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.75));
        background: linear-gradient(to bottom right, #ff7eda, #9d60dc);
        /*
        couleurs initiales: #FF79DA, #9356DC
        couleurs initiales +5rgb: #ff7eda, #985bdc
        couleurs initiales +10rgb: #ff83da, #9d60dc
        couleurs initiales +15rgb: #ff88da, #a265dc
        */
    }
}

@mixin menu-animation {
    animation: kf-menu-animation 1.25s ease-out;
}
@keyframes kf-menu-animation {
    0% {
        opacity: 0%;
        transform: translateY(1000px);
    }
    50% {
        opacity: 33%;
    }
    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}