/*Couleurs : Gris très clair > gris clair > gris foncé*/
$couleur-gris-1: #F7F7F7; /*background du site + menus*/
$couleur-gris-2: #EAEAEA; /*<div> ville choisie*/
$couleur-gris-3: #353535; /*polices + <footer>*/

/*Couleurs : Flashy */
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
